@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Heebo', sans-serif;
}
.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 1;
}
.fondo h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 50px;
    z-index: 2;
}

.fondoGris {
    background-color: #3d3c3c;
}

.redondeado {
    border-radius: 10px;
}
.altoCarrusel {
    height: 500px !important;
}
.carousel-control-prev {
    height: 500px !important;
}
.carousel-control-next {
    height: 500px !important;
}

.imgCard {
    height: 325px;
}

.hiddenMd {
    display: none;
}
.altoimagen {
height: 200px;
}
.puntero {
    cursor: pointer;
}
@media (max-width: 1775px) {
  .hiddenLg {
    display: none;
  }
  .hiddenMd {
    display: block;
  }
}

@media (max-width: 700px) {
    .altoCarrusel {
        height: 200px !important;
    }
    .carousel-control-prev {
        height: 200px !important;
    }
    .carousel-control-next {
        height: 200px !important;
    }
    .fondo h1{
        font-size: 30px;
    }
}